/* layout */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  padding-bottom : 100px;
}

.container .text-muted {
  margin: 20px 0;
}



/* global styles */

body {
	font-size : 16px;
	color : #464646;
}

.page-header {
	margin-bottom : 40px;
}

.page-header h1 {
	color : #428bca;
	font-weight : bold;
	font-size : 18px;
}

.page-header h1 a {
	color : #428bca;
	text-decoration: none;
}

.page-header h1 a:hover {
	border-bottom : 1px solid silver;
}

.page-header .meta {
	font-size : 14px;
	font-weight : 300;
	color : silver;
	margin-left : 5px;
}

.page-header .meta a {
	color : silver;
}


p {
	margin-bottom: 1em;
}
blockquote {
  color : #666;
  font-size : 15px;
  margin-top : 0px;
  margin-bottom : 1em;
  padding-top : 0px;
  padding-bottom : 0px;
  margin-left : 10px;
  padding-left : 10px;
  border-left : 1px solid silver;
}


#footer {
  margin-top : 100px;
  margin-bottom : 100px;
  height: 60px;
  background-color: #f5f5f5;
}

.page-content h2 {
	font-size : 18px;
	font-weight : bold;
	color : #000;
	margin-bottom : 8px;
	margin-top : 8px;
	text-transform: lowercase;
}

.page-content h2 a {
	color : #000;
	text-decoration: none;
}

.page-content h2 a:hover {
	border-bottom : 1px solid silver;
}

.page-content .meta {
  font-size : 14px;
  color : silver;
  font-weight : 300;
  margin-left : 10px;
  text-transform: lowercase;
}

.index-post {
	margin-bottom : 80px;
}

.nav {
	margin-top : 80px;
	font-size : 14px;
	text-transform: lowercase;
}
