---
layout: default
title: hello 
---

<div id="home">

    {% for post in paginator.posts %}

    <div class="index-post">

    	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<div class="meta">({{ post.date | date_to_string }})</div>

		<div class="post">
		{{ post.content }}
		</div>
	
	</div>

	{% endfor %}


<div class="nav">

	{% if paginator.previous_page %} 
		<div class="pull-left">
			<a class="previous" href="/page/{{ paginator.previous_page }}">&laquo; newer posts</a> 
		</div>
	{% endif %} 

	{% if paginator.next_page %} 
		<div class="pull-right">
			<a class="next" href="/page/{{ paginator.next_page }}">older posts &raquo;</a> 
		</div>
	{% endif %} 


</div>



</div>
