<div class="subscribe-box">
    
    
    <div class="subscribe-promo">
        Get new posts from sippey.com delivered via email. 
    </div>
    
    <form
    action="https://buttondown.email/api/emails/embed-subscribe/sippey"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/sippey', 'popupwindow')"
    class="embeddable-buttondown-form form-container"
    >
    <input type="email" name="email" id="bd-email" placeholder="Your email" />
    <input type="submit" value="Subscribe" id="bd-button" />
</form>


</div>