
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rss+xml" title="this is sippey.com (rss)" href="/rss.xml" />

    <!-- hello, world! -->

    <title>{{ page.title }} - {{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sippey.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async defer data-domain="sippey.com" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">

      <div class="page-header">
        <h1><a href="/">{{ site.name }}</a> <span class="meta">// <a href="http://twitter.com/sippey">michael sippey</a></span></h1>
      </div>

      <div class="page-content">

        {{ content }}

      </div>

    </div>

  </body>
</html>
