<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-529031-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-529031-5');
  </script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#222222" media="(prefers-color-scheme: dark)">
  <link rel="alternate" type="application/rss+xml" title="this is sippey.com (rss)" href="/rss.xml" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sippey.css?20220729" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  
  <!-- Begin page content -->
  <div class="container">
    
    <div class="page-header">
      <h1><a href="/">this is sippey&rsquo;s blog</a></h1>
      <div class="main-nav">(there are <a href="/archives/">archives</a> and an <a href="/rss.xml">rss feed</a>.)</div>
    </div>
    
    <div class="page-content">
      
      {{ content }}
      
    </div>
    
  </div>
  
</body>
</html>