<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Michael Sippey">
  <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#222222" media="(prefers-color-scheme: dark)">
  <link rel="alternate" type="application/rss+xml" title="this is sippey.com (rss)" href="/rss.xml" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/sippey.css?20240227" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>

<body>
  
  <!-- Begin page content -->
  <div class="container">
    
    <div class="page-header">
      <div class="userpic">
        <a href="/"><img src="/assets/sippey.jpg" alt="Michael Sippey"/></a>
      </div>
      <h1><a href="/">this is sippey.com</a></h1>
      <div class="main-nav"><a href="/archives/">Archives</a> &middot; <a href="/search/">Search</a> &middot; <a href="/rss.xml">RSS Feed</a></div>
    </div>
    
    <div class="page-content">
      
      {{ content }}
      
    </div>
    
  </div>
  
</body>
</html>