---
layout: default
---

<div class="meta meta-links"><a href="{{ page.date | date: '/%Y/%m/'}}">{{ page.date | date: '%B' }}</a> {{ page.date | date: '%d, %Y' }}</div>


<div class="post links">
	{{ content }}
</div>

<div class="nav">
	
	{% if page.next.url %} 
	<div class="pull-left">
		<a class="next" href="{{page.next.url}}">&laquo; {{page.next.title}}</a> 
	</div>
	{% endif %} 
	
	{% if page.previous.url %} 
	<div class="pull-right">
		<a class="previous" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a> 
	</div>
	{% endif %} 
	
</div>
